:root {
  --grey: #E6E6E6;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

.section-title {
  text-align: center;
  margin: 20px 0 60px;
}

.section-title .title {
  color: var(--grey);
  font-size: 6.2rem;
  margin-bottom: -37px;
}

.discount {
  color: #8f8a8a;
  text-decoration: line-through;
}

.commande-button {
  width: 80%;
  padding: 15px 20px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: 2px solid #0063cc;
  border-radius: 7px;
  cursor: pointer;
  -webkit-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  -webkit-transition-duration: 200ms, 200ms;
          transition-duration: 200ms, 200ms;
}

.commande-button:hover {
  background-color: #0063cc;
  border-color: #004a99;
}

/************* mobile design *************/
@media only screen and (max-width: 760px) {
  .section-title .title {
    font-size: 5rem;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 60px;
  margin: auto;
  max-width: 1400px;
  width: 100%;
}

header .logo img {
  width: 200px;
}

header a {
  color: #000;
}

header .home-icon {
  font-size: 3.3rem;
}

@media only screen and (max-width: 760px) {
  header {
    padding: 20px;
  }
}

.produit-item {
  padding: 0 50px;
  margin: 0 0 50px;
}

.produit-item .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  max-width: 1200px;
}

.produit-item__detail {
  max-width: 600px;
  width: 40%;
  margin: auto;
}

.produit-item__detail * {
  margin-bottom: 20px;
}

.produit-item__image {
  margin: auto;
}

.produit-item__image img {
  width: 100%;
  -webkit-box-shadow: 0px 7px 10px -8px #000000cc;
          box-shadow: 0px 7px 10px -8px #000000cc;
}

.produit-item__name {
  font-size: 2rem;
}

.produit-item__price {
  font-weight: 600;
  font-size: 1.2rem;
}

.produit-item__commande {
  margin: 0 auto;
  max-width: 600px;
  width: 42%;
  text-transform: capitalize;
}

.produit-item__commande h2 {
  margin-bottom: 20px;
}

.produit-item__commande input:not([type="submit"]) {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 6px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  font-size: 1.1rem;
}

.produit-item__commande input:not([type="submit"]):not([type="number"]) {
  display: block;
  width: 100%;
}

.produit-item__commande input[type=number] {
  width: 70px;
  margin-left: 10px;
}

.produit-item__commande input[type=number]::-webkit-inner-spin-button,
.produit-item__commande input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.produit-item__commande input[type="submit"] {
  display: block;
  padding: 15px 20px;
  border-radius: 7px;
  border: 2px solid #296e2c;
  color: #fff;
  font-size: 1.1rem;
  background-color: #29a847;
  cursor: pointer;
  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
}

.produit-item__commande input[type="submit"]:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  background-color: #1f7f35;
}

.produit-item__commande label {
  font-weight: bold;
}

.produit-item .display-phone {
  display: none;
}

/************* mobile design *************/
@media only screen and (max-width: 760px) {
  .produit-item {
    margin-bottom: 0;
  }
  .produit-item .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .produit-item__detail, .produit-item__commande {
    width: 90%;
    margin-bottom: 50px;
  }
  .produit-item input:nth-child(-n+2) {
    float: none;
    width: 100%;
  }
  .produit-item .display-phone {
    width: 100%;
    display: block;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    text-align: center;
    margin-bottom: 20px;
  }
}

footer {
  background-color: #222;
  color: white;
  padding: 50px 60px;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  grid-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1400px;
  margin: auto;
}

footer .title {
  font-size: 2.4rem;
  font-weight: 500;
}

footer .copyright p {
  font-size: 18px;
}

footer .mg-bottom {
  margin-bottom: 15px;
}

@media only screen and (max-width: 760px) {
  footer {
    padding: 40px 60px;
  }
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    grid-gap: 40px;
  }
}

.social-media {
  font-size: 2rem;
}

.social-media a {
  margin-right: 10px;
  color: #fff;
}

.social-media .fa-facebook:hover {
  color: #1875ea;
}

.social-media .fa-instagram:hover {
  color: #d4465c;
}
